@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: Roboto, sans-serif; 
  font-size:14px;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
